body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
    color: #FFF;
}

section {
    width: 100%;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.active a {
    color: gold;
}

nav, nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label {
    width: 100%;
    margin-bottom: 10px;
}

form p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
}

form input, form textarea, form select {
    padding: 5px;
    background-color: transparent;
    outline: none;
    color: #FFF;
    border: unset;
    border-bottom: 2px solid #3C3C3C;
    margin-bottom: 20px;
    transition: all linear 0.2s;
}

form input:focus, form textarea:focus {
    border-bottom: 2px solid gold;
}

.btns {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
    transform-origin: 50% 50%;
    transform: scale(1);
    border: 1px solid transparent;
    transition: all linear 0.15s;
}

.btns:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transform: scale(1.1);
}

#contact-form label,
#contact-form input,
#contact-form textarea {
    width: 100%;
}

textarea {
    resize: none;
    height: 250px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 40px;
}

#contact-form .title {
    justify-content: center;
    text-align: center;
}

.fullText p:not(.title) {
    margin-bottom: 40px;
}


.Gris_foncé {
    background-color: #3c3c3c;
}


.titre_RS {
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 40px;
}


.div_moy {
    height: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.texte_noir {
    color: black;
}

.blanco {
    background-color: #191919;
}


.hauteur-main{
    min-height: calc(100vh - 366px);
}

#div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

